@use '../global/' as *;
@use "sass:map";

// /* =====================
//     表示
// ===================== */
.u-view-small {
  @include mq(medium) {
    display: none !important;
  }
}
.u-view-medium,
.sp-only {
  @include mq(large) {
    display: none !important;
  }
}
.u-view-large,
.pc-only {
  @media not screen and (min-width: map.get($breakpoints, "large")) {
    display: none !important;
  }
}
.u-view-full {
  @media not screen and (min-width: map.get($breakpoints, "full")) {
    display: none !important;
  }
}
.u-view-under-medium {
  @include mq(large) {
    display: none !important;
  }
}
.u-view-upper-large {
  @media not screen and (min-width: map.get($breakpoints, "large")) {
    display: none !important;
  }
}
