@use '../global' as *;

.c-form {
  --layout-gap: 20px;
  --label-gap: 16px;
  @include mq(large) {
    --layout-gap: 24px;
  }

  //入力欄
  input,
  textarea {
    border-radius: 0;
    border: 1px solid var(--clr_border);
    background: #fff;
    font-size: font-size(16);
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    width: 100%;
    padding: 12px 16px;
  }
  input::placeholder {
    color: var(--clr_text_gray);
  }
  input:-ms-input-placeholder {
    color: var(--clr_text_gray);
  }
  input::-ms-input-placeholder {
    color: var(--clr_text_gray);
  }
  button {
    border: none;
    appearance: none;
    cursor: pointer;
    color: currentColor;
  }
  label {
    cursor: pointer;
  }

  //セレクトボックス
  select {
    appearance: none;
    padding: 12px 30px 12px 16px;
    color: var(--clr_default);
    border: 1px solid var(--clr_border);
    border-radius: 0;
    background: #fff;
    cursor: pointer;
    &:focus-visible {
      outline: auto;
      outline: auto -webkit-focus-ring-color;
    }
  }
  select::-ms-expand {
    display: none;
  }

  //ラジオ
  .wpcf7-radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px 40px;

    .wpcf7-list-item {
      margin: 0;
      width: fit-content;
      display: flex;
      align-items: center;
    }
    .wpcf7-list-item-label {
      width: fit-content;
      display: block;
    }
  }
  input[type='radio'] {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    position: absolute;
    &:focus-visible {
      + span {
        &::before {
          background: var(--clr_bg);
        }
      }
    }
    + span {
      position: relative;
      display: inline-block;
      padding-left: 35px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 1px solid var(--clr_border);
        background: #fff;
        border-radius: 50%;
      }
    }
  }
  input[type='radio']:checked {
    + span {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--clr_primary);
      }
    }
  }

  //チェックボックス
  .wpcf7-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px 40px;

    .wpcf7-list-item {
      margin: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
    .wpcf7-list-item-label {
      width: fit-content;
      display: block;
    }
  }
  input[type='checkbox'] {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    position: absolute;
    &:focus-visible {
      + span {
        &::before {
          background: var(--clr_bg);
        }
      }
    }
    + span {
      position: relative;
      display: inline-block;
      padding-left: 35px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 1px solid var(--clr_border);
        background: #fff;
      }
    }
  }
  input[type='checkbox']:checked {
    + span {
      &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 4px;
        rotate: -45deg;
        width: 12px;
        height: 5px;
        border: solid var(--clr_primary);
        border-width: 0 0 2px 2px;
      }
    }
  }

  //ラベルスタイル
  .c-form__label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  //必須項目
  .-required {
    font-size: 0.875rem;
    color: red;
  }

  //レイアウト
  .c-form__dl {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
  }

  //入力欄レイアウト
  .c-form__content {
    display: flex;
    flex-direction: column;
    gap: var(--label-gap);
  }

  //住所
  .c-form__body.-zip {
    display: flex;
    flex-direction: column;
    gap: var(--label-gap);
  }
  .c-form__zip-wrap {
    display: grid;
    grid-template-columns: 5em 1fr;
    align-items: center;

    .error {
      grid-column: 1 / 3;
    }
  }

  //プラポリ
  .c-form__policy {
    margin-top: var(--layout-gap);
    display: flex;
    flex-direction: column;
    gap: var(--label-gap);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .error {
      margin-top: calc(-1 * var(--label-gap));
    }
  }

  //ボタン
  .c-form__btnWrap,
  .c-form__btnWrap p {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    input {
      padding: 8px 24px;
      appearance: none;
      cursor: pointer;
      color: currentColor;
      position: relative;
    }
  }
}

//入力画面
//.mw_wp_form_input{}

//確認画面
//.mw_wp_form_confirm{}

//完了画面
.c-form__thanks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
